# development | production
REACT_APP_NODE_ENV=development

# prod | staging | dev | local
REACT_APP_NODE_MODE=local

# prod=/admin/application
# staging=/admin/application
# dev=/
# local=<empty>
REACT_APP_PROXY=/admin/application

# https://www.german-emirates-club.com/api | http://localhost:3300 | http://192.168.1.68:3300
REACT_APP_API_URL=https://www.german-emirates-club.com/api

# Deep link App URL for development. Make sure REACT_APP_NODE_MODE=local
REACT_APP_DEV_APP_DEEPLINK=exp://192.168.0.197:19000/--/

# All env for react needs to start with REACT_APP_
