.post-card-header {
    display: flex;
    gap: 12px;
    background-color: rgb(240, 240, 240);
    /* align-items: center; */
    /* border-bottom: 1px solid #ccc; */
}

.pill {
    background-color: rgb(209, 209, 209);
    border-radius: 100px;
    padding: 6px 16px;
}

.pill-text {
    color: black;
    font-weight: 600;
}